.list-student-users{
    padding: 20px;
    background-color: #FFF8F6;
    height:100%;
    max-height: 95%; 
    overflow-x: auto;
}

.list-student-user{
    display: flex;
    font-size: 20;
    padding: 10px;
}

.list-student-name{
    display: flex;
    flex-direction: column;
}

.list-student-search-bar{
    width: 100%;
    background-color: #FFF8F6;
    border-radius: 4px 4px 0px 0px;
    border-color: black;
}

.list-student-container{
    display: flex;
    align-self: center;
    flex-direction: row;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.list-student-main{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    width: 70%;
    height: 92%;
    background-color: #FFEDE8;
    display: flex;
    flex-direction: row;
    border-radius: 16px;
    flex-wrap: wrap;
    overflow: hidden;
    margin-top: 2%;
}

.list-student-main h1{
    color: #8F4C36;
}

.list-student-main > div{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.list-student-main > div > div{
    height: 90%;
}

.list-student-right-section{
    width: 49%;
    background-color: #FFF8F6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border: #D8C2BC 1px solid;
    border-radius: 16px;
    height: 80%;
}

.list-student-right-section > div{
    display: flex;
    justify-content: center;

}

.list-student-user-details{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;
}

.list-student-user-details > h3{
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 40px;
}

.list-student-left-section{
    width: 40%;
    max-height: 80%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;    
}

text{
    font-size: 18px;
    line-height: 28px;
    display: flex;
    align-items: center;
    flex-direction: row;
}
text > *{
    margin: 0px 10px;
}

.list-student-button{
    width: 176px;
    height: 40px;
    font: 10px;
    background: #8F4C36;
    border-radius: 100px;
}

.list-student-user > div{
    margin: 5px;
}

.list-student-icon-name{
    padding-top: 1px;
}

.list-student-modal-box {
    position: absolute;
    width: 312px;
    min-width: 280px;
    max-width: 560px;
    height: 272px;
    border-radius: 28px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #F7E4DF; 
    box-shadow: 0px 0px 24px rgba(143, 76, 54, 0.1);
    padding: 16px;
    display: flex; 
    flex-direction: column;
    justify-content: space-around;
}  

.list-student-modal-box > div{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;    
}

.list-student-modal-box > .list-student-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
}

.list-student-selected-user{
    background: rgba(247,228,223,0.4);
}

@media (max-width: 850px) {
    .list-student-main{
        height: 98%;
    }
    .list-student-main>div{
        flex-direction: column;
        align-items: center;
        justify-content: start;
    }
    .list-student-right-section{
        width: 90%;
        height: 48%;
        margin-top: 40px;
    }
    .list-student-left-section{
        width: 90%;
        max-height: 30%;
    }
    .list-student-user{
        padding: 2px;
    }
    .list-student-users{
        padding: 5px;
    }
  }